{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>{% if service %}Modifier{% else %}Ajouter{% endif %} Service</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-2">{% if service %}Modifier{% else %}Ajouter{% endif %}</button>
        <a href="{% url 'liste_services_svc' %}" class="btn btn-secondary mt-2">Annuler</a>
    </form>
</div>
{% endblock %}
